# Virtual environments
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyd
*.pyo
*.pypirc

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Test and data files
.pytest_cache/
*.sqlite3
data/

# Log files
*.log

# Distribution files
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# other
test.py